
/* [ GENERAL ] */

/* 0.1. Fonts ---------------- */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* 0.2. Body ---------------- */
body {
    overflow-x: hidden;
}

/* 1. Sections ---------------- */
main, main section {
    width: 100%;
}

main section {
    height: auto;
    min-height: var(--height);
    padding: var(--padding) 0;
}
main section .container {
    --height: 100%;
    
    width: var(--width);
    height: var(--height);
    margin: 0 auto;
}

/* 2. p tags ---------------- */
p               { margin: 0; }
p span.green    { color: var(--green); }

p.heading-small {
    font-size: 2em;
}
p.heading-large {
    font-size: 3em;
    font-weight: var(--font-bold);
    line-height: 1.2em;
    display: inline-block;
}
p.text-small {
    font-size: 1.4em;
    color: var(--l-grey);
    margin-top: 30px;
}
p.heading-small[marked]::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: var(--green);
    position: relative;
    bottom: -10px;
    margin-bottom: 30px;
}
p.heading-large[marked]::after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background: var(--green);
    position: relative;
    bottom: 0.35em;
    opacity: 0.2;
}
p.heading-large[centered] {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* 3. CTA buttons ---------------- */
.CTA {
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: var(--green);
    text-align: center;
    font-size: 1.4em;
    color: var(--white);
    transition: background-color 0.25s;
}
.CTA:hover {
    background-color: var(--l-green) !important;
    color: var(--white) !important;
}
.CTA:active {
    background-color: var(--d-green) !important;
}

/* 4. Attributes ---------------- */
[no-margin = "top"]      {margin-top:     0 !important;}
[no-margin = "bottom"]   {margin-bottom:  0 !important;}
[no-margin = "left"]     {margin-left:    0 !important;}
[no-margin = "right"]    {margin-right:   0 !important;}

[active-tab]             {color: var(--green) !important}

/* 5. Forms ---------------- */
form * {
    border: none;
    outline: none;
    font-size: 1.4em;
    transition: border 0.25s;
}
form textarea, input:not([type = "submit"]) { padding: 10px; border: 2px solid rgba(0, 0, 0, .1); }
form textarea                 { resize: none; }
form [type = "submit"]        { cursor: pointer; }
form input:focus, form textarea:focus { border: 2px solid rgba(0, 0, 0, .2); }
    
}

/* 6. "a" tags ---------------- */
a { transition: color 0.25s; }
a:hover {
    color: var(--green) !important;
}
a:active {
    color: var(--d-green) !important;
}




