
/* [ HEADER ] */

header {   
    width: 100%;
    height: var(--height);
    margin: 0 auto;
    background-color: var(--white);
    background-image: url("../imgs/Back.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/* - navigation panel - */

header nav {
    position: relative;
    width: var(--width);
    height: 40px;
    margin: 0 auto;
    top: 30px;
}

header nav a.logo {float: left; width: 150px; height: 34px; position: relative; bottom: -3px;}
header nav a.logo img {width: 150px; height: 34px;}

header nav ul {
    display: inline-block;
    float: right;
    margin: 0;
    height: 40px;
}
header nav ul li {
    display: inline-block;
    margin-left: 15px;
    height: 40px;
    line-height: 40px; 
}
header nav ul li a {margin-top: 0 !important; color: var(--grey); font-size: 1.4em;}


/* clering floats */
/*  -- doesn`t work
header nav::after {
    content: '';
    display: block;
    clear: both;
}
*/


/* - content block - */

header .header-cont {
    width: var(--width);
    height: 300px;
    top: 120px;
    position: relative;
    margin: 0 auto;
}

 /* -- p tags -- */
header .header-cont p {margin: 0;}

header .header-cont p.heading-small {
    font-size: 2.5em;
    margin-bottom: 10px;
}
header .header-cont p.heading-large {
    font-size: 4.4em;
    font-weight: var(--font-bold);
    margin-bottom: 30px;
}
header .header-cont p.text-small {
    font-size: 1.5em;
}

 /* -- CTA buttons -- */
header a.CTA {margin-top: 30px;}
header a.CTA-about-me {
    margin-right: 15px;
}
header a.CTA-dwnld-cv {
    background: var(--grey);
}





















