
/* [ MAIN CONTENT ] */

body {
    margin: 0px !important;
    background: var(--white);
    font-size: var(--font);
    font-family: 'Roboto Slab', sans-serif;
    background-size: 80% auto;
    background-repeat: no-repeat;
    font-size: var(--font-size);
    color: var(--grey);
}

main section:nth-child(even) .container {background: var(--yellow);}

 /* - about us - */
 /* -- text block -- */
.page.about .info-text, .page.about .info-graphics {
    display: inline-block;
    height: 100%;
}
.page.about .info-text {
    width: calc(100% - 450px);
    float: left;
}
.page.about .info-graphics {
    width: 350px;
    float: right;
}
 /* -- circles block -- */
.page.about .circle {
    width: 150px;
    height: 150px;
    background: Orange;
    border-radius: 100px;
    display: inline-block;
}
.page.about .circle:nth-child(1) {
    background: #AC67D7;
}
.page.about .circle:nth-child(2) {
    position: relative;
    left: -10px;
    background: #5460A9;
}
.page.about .circle:nth-child(3) {
    position: relative;
    bottom: 50px;
    left: 75px;
    background: Orange;
}
.page.about .circle p {
    font-size: 1.4em;
    text-align: center;
    margin-top: 10px;
    color: var(--white);
}
.page.about .circle p.heading {
    font-size: 3em;
    margin-top: 40px;
    font-weight: var(--font-bold);
}

 /* - provided services - */
.page.services {background: var(--d-white);}
.page.services .container {background: transparent !important;}  /* <- delete when remove back colors */
.page.services .service-card {
    --gap: 20px;
    --pad: 50px;
    
    width: calc((100% - var(--gap) * 2) / 3);
    height: auto;
    display: inline-block;
    background: var(--white);
    padding: var(--pad);
    margin: 0;
    
}
  /* ( background-images for cards )  [start]*/
.page.services .service-card {
    --icon-size: 50px; 
    background-repeat: no-repeat;
    background-position: var(--pad) var(--pad);
    background-size: var(--icon-size);
}
.page.services .service-card.graphic {
    background-image: url("../imgs/icons/graphic.png"); 
}
.page.services .service-card.seo {
    background-image: url("../imgs/icons/seo.png"); 
}
.page.services .service-card.data {
    background-image: url("../imgs/icons/data.png"); 
}
.page.services .service-card.digital {
    background-image: url("../imgs/icons/digital.png"); 
}
.page.services .service-card.video {
    background-image: url("../imgs/icons/video.png"); 
}
.page.services .service-card.photo {
    background-image: url("../imgs/icons/photo.png"); 
}
  /* ( background-images for cards )  [end]  */
.page.services .service-card:nth-child(3n+1) {
    margin-left: var(--gap);
    margin-right: var(--gap);
    margin-top: var(--gap);
}
.page.services .service-card.seo {  /* QUESTION: ".page.services .service-card.nth-child(2)" - doesn`t work */
    margin-top: 0;
}
.page.services .container > p.heading-large {
    width: 12.5em;
}
.page.services .service-card p.heading-large {
    font-size: 1.5em;
    margin-top: 70px;
}






/* -------------------------------------- */

/* [ MEDIA QUERIES ] */
@media screen and (max-width: 882px) {
    
}
@media screen and (max-width: 795px) {
    
}









