
/* [ MAIN CONTENT ] */

body {
    margin: 0px !important;
    background: var(--white);
    font-size: var(--font);
    font-family: 'Roboto Slab', sans-serif;
    background-size: 80% auto;
    background-repeat: no-repeat;
    font-size: var(--font-size);
    color: var(--grey);
}

 /* - about us - */
 /* -- text block -- */
.page.about .info-text, .page.about .info-graphics {
    display: inline-block;
    height: 100%;
}
.page.about .info-text {
    width: calc(100% - 450px);
    float: left;
}
.page.about .info-graphics {
    width: 350px;
    float: right;
}
 /* -- circles block -- */
.page.about .circle {
    width: 150px;
    height: 150px;
    background: Orange;
    border-radius: 100px;
    display: inline-block;
}
.page.about .circle:nth-child(1) {
    background: #AC67D7;
}
.page.about .circle:nth-child(2) {
    position: relative;
    left: -10px;
    background: #5460A9;
}
.page.about .circle:nth-child(3) {
    position: relative;
    bottom: 50px;
    left: 75px;
    background: Orange;
}
.page.about .circle p {
    font-size: 1.4em;
    text-align: center;
    margin-top: 10px;
    color: var(--white);
}
.page.about .circle p.heading {
    font-size: 3em;
    margin-top: 40px;
    font-weight: var(--font-bold);
}

 /* - provided services - */
.page.services {background: var(--d-white);}
.page.services .service-card {
    --gap: 20px;
    --pad: 50px;
    
    width: calc((100% - var(--gap) * 2) / 3);
    height: auto;
    display: inline-block;
    background: var(--white);
    padding: var(--pad);
    margin: 0;
    
}
  /* ( background-images for cards )  [start]*/
.page.services .service-card {
    --icon-size: 50px; 
    background-repeat: no-repeat;
    background-position: var(--pad) var(--pad);
    background-size: var(--icon-size);
}
.page.services .service-card.graphic {
    background-image: url("../imgs/icons/graphic.png"); 
}
.page.services .service-card.seo {
    background-image: url("../imgs/icons/seo.png"); 
}
.page.services .service-card.data {
    background-image: url("../imgs/icons/data.png"); 
}
.page.services .service-card.digital {
    background-image: url("../imgs/icons/digital.png"); 
}
.page.services .service-card.video {
    background-image: url("../imgs/icons/video.png"); 
}
.page.services .service-card.photo {
    background-image: url("../imgs/icons/photo.png"); 
}
  /* ( background-images for cards )  [end]  */
.page.services .service-card:nth-child(3n+1) {
    margin-left: var(--gap);
    margin-right: var(--gap);
    margin-top: var(--gap);
}
/*
.page.services .service-card.seo {   QUESTION: ".page.services .service-card.nth-child(2)" - doesn`t work 
    margin-top: 0;                              if 2 "nth-child()" selectors applied
}
*/
.page.services .container > p.heading-large {
    width: 12.5em;
}
.page.services .service-card p.heading-large {
    font-size: 1.5em;
    margin-top: 70px;
}


 /* - skills - */
.page.skills {
    background: var(--green);
    min-height: 100px;
}
.page.skills p[marked] {
    width: 7.3em; 
    color: var(--white);
}
.page.skills p.heading-large[marked]::after {
    filter: brightness(130%);
}
.page.skills .progress-wrapper {
    --gap: 200px;
    
    width: calc((100% - var(--gap)) / 2);
    height: 5px;
    display: inline-block;
    margin-bottom: 50px;
    background: #4DCDB4;
}
.page.skills .progress-wrapper:nth-child(even) {margin-right: var(--gap);}
.page.skills .progress-wrapper .progress-state {
    /* width: attr(data-width %); */
    height: 5px;
    background: var(--white);
}
.page.skills .progress-wrapper .progress-state[data-state = "97"] {
    width: 97%;
}
.page.skills .progress-wrapper .progress-state[data-state = "92"] {
    width: 92%;
}
.page.skills .progress-wrapper .progress-state[data-state = "90"] {
    width: 90%;
}
.page.skills .progress-wrapper .progress-state[data-state = "85"] {
    width: 85%;
}
.page.skills .progress-wrapper .progress-state[data-state = "72"] {
    width: 72%;
}
.page.skills .progress-wrapper .handler {
    width: 12px;
    height: 12px;
    position: relative;
    border-radius: 12px;
    display: block;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    top: -4px;
    background: var(--white);
}
.page.skills .progress-wrapper .handler::before {
    content: attr(data-state)"%";
    position: relative;
    top: -30px;
    font-size: 1.3em;
    color: var(--white);
}
.page.skills .progress-state::before {
    content: attr(data-descr);
    position: relative;
    top: -30px;
    font-size: 1.3em;
    color: var(--white);
    float: left;
}


 /* - latest projects - */
.page.projects ul.categories {
    padding: 0;
    margin-bottom: 50px;
}
.page.projects .categories li {
    font-size: 1.5em;
    display: inline-block;
    margin-right: 30px;
    list-style: none;
    cursor: pointer;
    color: var(--l-grey);
    transition: color 0.25s;
}
.page.projects .categories li:hover {
    color: var(--green);
}
.page.projects .categories li:active {
    color: var(--d-green);
}
.page.projects .project-card {
    --gap: 30px;
    --pad: 50px;
    
    width: calc((100% - var(--gap) * 2) / 3);
/*
    height: auto;
    min-height: 300px;
*/
    height: 320px;
    background: var(--red);
    display: inline-block;
    padding: var(--pad);
    overflow: hidden;
}
.page.projects .project-card:nth-child(3n+1) {
    margin-left: var(--gap);
    margin-right: var(--gap);
    margin-top: var(--gap);
}
.page.projects .project-card[empty] {
    background: var(--l-grey);
}
.page.projects .project-card p {
    text-align: center;
    color: var(--white);
}
.page.projects .project-card p.text-small {
    margin-top: 5px;
}
.page.projects .project-card p.project-description {font-size: 1.3em; line-height: 1.5em;}
.page.projects .project-card p.project-rating::after {
    font-size: 1.5em;
    vertical-align: baseline;
}
  /* (set number of stars due to rate)  [start]*/
.page.projects .project-card p.project-rating[data-rate = "1"]::after {content: ' \2605';}
.page.projects .project-card p.project-rating[data-rate = "2"]::after {content: ' \2605\2605';}
.page.projects .project-card p.project-rating[data-rate = "3"]::after {content: ' \2605\2605\2605';}
.page.projects .project-card p.project-rating[data-rate = "4"]::after {content: ' \2605\2605\2605\2605';}
.page.projects .project-card p.project-rating[data-rate = "5"]::after {content: ' \2605\2605\2605\2605\2605';}
  /* (set number of stars due to rate)  [end]  */
.page.projects .project-card p.project-description, 
 .page.projects .project-card p.project-rating {
    margin-top: 40px;
}


/* - clients - */
.page.feedback {
    background: var(--white); 
}
.page.feedback p[marked] {
    width: 8.5em; 
}
.page.feedback .feedback-card {
    --gap: 100px;
    --pad: 40px;
    
    width: calc((100% - var(--gap)) / 2);
    height: auto;
    padding: var(--pad);
    display: inline-block;
    background: var(--white);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.page.feedback .feedback-card p {color: var(--l-grey);}
.page.feedback .feedback-card:nth-child(even) {margin-right: var(--gap);}
.page.feedback .feedback-card .feedback-text, 
 .page.feedback .feedback-card .feedback-author {
    height: auto;
    padding-bottom: var(--pad);
}
.page.feedback .feedback-card .feedback-text p::before {
    content: '';
    background-image: url("../imgs/icons/quotes.png");
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
     
}
.page.feedback .feedback-author div {
    display: inline-block;
    height: 70px;
    overflow: hidden;
}
.page.feedback .feedback-author .author-ava {
    width: 70px; 
    border-radius: 70px; 
    margin-right: 15px;
    background: var(--l-grey);
}
.page.feedback .feedback-author .author-sign {width: 100px;}
.page.feedback .feedback-author .author-sign img {
    margin-top: 25px;
}
.page.feedback .feedback-author .author-about {width: calc(100% - 185px);}
  /* ^ ( width: 100% - [other blocks` widths] - [ava`s margin-right] ) */
.page.feedback .feedback-author .author-about p.author-name {
    font-size: 2em;
    font-weight: var(--font-bold);
    margin-top: 10px;
}
.page.feedback .feedback-author .author-about p.author-position {font-size: 1.4em;}


 /* - contact us - */
.page.contact .container {
    width: calc(var(--width) + (100% - var(--width)) / 2);
    margin-left: 0;
}
.page.contact .background-image, .page.contact .contact-form {
    --gap: 80px;
    --pad: 20px;
    
    width: calc((100% - var(--gap)) / 2);
    height: 520px;
    display: inline-block;
}
.page.contact .background-image { 
    margin-right: var(--gap);
    background: var(--l-grey);
}
.page.contact .contact-form { 
    padding: var(--pad);
    overflow: hidden;
}
.page.contact .contact-form form { 
    margin-top: 50px;
}
.page.contact .contact-form input:not([type = "submit"]) {
    display: inline-block;
    width: 45%;
    height: 40px; 
    margin-bottom: 20px;
}
.page.contact .contact-form input:nth-child(odd) {
    margin-right: 10%;
}
.page.contact .contact-form textarea {
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}


 /* - latest news - */
.page.news p.heading-large {
    width: 5.7em;
}
.page.news article {
    --gap: 80px;
    --pad: 40px;
    
    width: calc((100% - var(--gap) * 2) / 3);
    display: inline-block;
    height: calc(400px + var(--pad));
    background: var(--white);
    border: 2px solid rgba(0, 0, 0, .1);
}
.page.news article:nth-child(odd) {
    margin: 0 var(--gap);
}
.page.news article .news-img {
    width: 100%;
    height: 200px;
    background: var(--l-grey);
    margin-bottom: 20px;
}
.page.news article .news-about, 
 .page.news article .news-short-text,
 .page.news article .read-more {
    width: calc(100% - var(--pad));
    margin: 0 auto;
}
.page.news article .news-about {
    height: 30px;
    margin-bottom: 10px;
}
.page.news article .news-about span {
    width: 50%;
    display: inline-block;
    font-size: 1.2em;
}
.page.news article .news-about span.news-date {
    text-align: right;
}
.page.news article .news-about span::before {
    content: '';
    display: inline-block;
    position: relative;
    top: 2.5px;
    left: -10px;
    width: 14px;
    height: 14px;
    background-size: cover;
    background-repeat: no-repeat;
}
.page.news article .news-about span.news-author {
    text-indent: 10px;
}
.page.news article .news-about span.news-author::before {
    background-image: url("../imgs/icons/man.png");
}
.page.news article .news-about span.news-date::before {
    background-image: url("../imgs/icons/calendar.png");
}
.page.news article .news-short-text {
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page.news article .news-short-text p.news-heading {
    font-size: 1.7em;
    font-weight: var(--font-bold);
    margin-bottom: 20px;
}
.page.news article .news-short-text p.text-small {
    margin-top: 0;
    font-size: 1.3em;
    line-height: 1.5em;
}
.page.news article .read-more {
    display: block;
    color: var(--l-grey);
    font-size: 1.5em;
}


 /* - partners - */
.page.partners { min-height: 100px; padding-top: 0; }
.page.partners .partners-imgs li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% / 5);
    margin: 0;
    text-align: center;
}


/* -------------------------------------- */

/* [ MEDIA QUERIES ] */
@media screen and (max-width: 1260px) {
    :root {
        --font-size: 9.5px !important;
    }
}
@media screen and (max-width: 1225px) {
    :root {
        --font-size: 9px !important;
    }
    p.heading-small {
        font-size: 1.7em;
    }
    p.heading-large {
        font-size: 2.5em;
    }
}
@media screen and (max-width: 1157px) {
    :root {
        --font-size: 8px !important;
    }
    p.heading-small {
        font-size: 1.5em;
    }
    p.heading-large {
        font-size: 2.2em;
    }
    p.heading-large[marked]::after { height: 7px; }
}
@media screen and (max-width: 800px) {
    :root {
        --font-size: 8px !important;
    }
    p.heading-small {
        font-size: 1.5em;
    }
    p.heading-large {
        font-size: 2.2em;
    }
    p.heading-large[marked]::after { height: 7px; }
    p {max-height: 50px; overflow: hidden; text-overflow: ellipsis;}
}
@media screen and (max-width: 795px) {
    
}









